name: Check Java files with CheckStyle
on:
  pull_request:
    paths:
      - '**/*.java'

jobs:
  checkstyle:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        module:
          - jakarta-validation-utils
          - jakarta-validation-utils-legacy
    steps:
      - name: Checkout latest
        uses: actions/checkout@v6
      - name: Run CheckStyle
        uses: nikitasavinov/checkstyle-action@master
        with:
          level: error
          fail_on_error: true
          workdir: ./${{ matrix.module }}
          checkstyle_config: ./checkstyle.xml
          github_token: ${{ secrets.GITHUB_TOKEN }}
